label{
font-size: 0.9em;
letter-spacing: 0.2em;
text-transform: uppercase;
color: gray;
padding: 2%;
text-align: center;
}



.upload_icon{
  opacity: 0.4;
  width: 100%;
  padding: 20%;
}

.img-cont{
  opacity: 0.4;
  border-style: 0.8px groove;
  width: 500px;
  height: 500px;
  padding: 10%;

}

.camp-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cont:hover{
  opacity: 0.8;
}



.upload_icon:hover{
  opacity:0.8;
}

.image-upload>.pic-up {
  display: none;
}

.image-upload{

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0 none;
}

/* .input-holder{
  padding-top: 2%;
  padding-bottom: 2%;
}

.labels{
  padding-top: 2%;
  padding-bottom: 2%;
} */


.btn-primary.custom-btn {
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 1.2em;
  color: black;
	background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
 border-color: #EEEAE9 !important;
 box-shadow: none;
 padding:2%;
 width: 50%;

}

.here{
  padding: 0;
  margin: 0;
}


.btn-primary:hover {
  border: none;
  color :white;
  background-color: #ba9765 !important;
}

.btn-primary:focus {
  color : white;
  background-color:#ba9765  !important;
}

.btn-primary:active {

  color:  white;
  background-color: #ba9765 !important;
}

input {
  color: gray;
  margin: 2%;
  width: 100%;
  border: 0 !important;
  outline: 0 !important;
  border-bottom: 1px solid black !important ;
}



input:invalid {
    background-color: transparent;

}

input:valid {
    background-color: transparent;
}

.container-fluid{
  background-color: white;
  width: 100%;
}
