* {
  border-radius: 0 !important;
}

body{
  box-sizing: border-box;
  font-family: 'Alatsi';
}

li{
  list-style: none;
}
/* RESPONSIVE MENU AND INTRO */

.col-sm-3 {
  display: block;
  }

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

.navbar-toggler{
  border:0px;
}



.navbar-toggler:focus, .navbar-toggler:active {
   /* outline: none;
   box-shadow: none; */
 }


.logo{
  width: 7%;
  padding:0;
  filter: brightness(0) invert(1);

}

.navbar-dark .navbar-nav .nav-link {
    color:#FEFEFE ;
    font-size: 1.1em;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;

}

.nav-link.dropdown-toggle{
  padding-right: 4%;
}
.navbar{
  padding-left: 6%;
  padding-right: 6%;
  background-color: #44495C !important;

-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.navbar-toggler.navbar-toggler-icon{
  height: 2vh;
  border: 0px;
}

.navbar .dropdown-menu{
  border: none;
  background-color:white;
  text-transform: lowercase;
  color:black;

    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.dropdown-item:focus{

}

/* SEARCH */

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 .icon{
  position: absolute;
  top: 48%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;

}




.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-4 input#search:-moz-placeholder {
   color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
   color: #65737e;
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }

  .container-4:hover button.icon:hover{
    background: white;
  }


.options{

  font-size: 0.7em;
  font-family: "Montserrat";
  font-weight: bolder;
  text-transform: uppercase;
  padding: 4px;

}

.sign-menu{

  padding: 10px;
  margin:15px;
  font-size: 1em;
  font-weight: bold;
}


.intro{
  position: absolute;
}

.plexus{
  width: 100%;
  position:relative;
  z-index: -1;
  margin: auto;
}


/* VIDEO INTRO */

 p.apeiron-p{
font-family:"Montserrat";
 font-weight: 100;
font-size: 2.3em ;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 8px;
 padding-top: 20px;
 margin: -5px;
 }

 p.everything-p{
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.6em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:2.5px;
    padding: 5px;
    margin:-5px;
    color: #ededed;

 }


.community-p{

  display: block;
}

.sign-in{

  display:inline-block;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: ;
  color: white;
  padding: 5px;
  text-decoration: none;
  letter-spacing:2px;
  border: 0.5px solid white;
  margin: 25px;
  opacity: inherit;
  border-radius: 0px;
}

.sign-in:hover{
  opacity: 0.5;
}


.home-article{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.whales{
  position:relative;
  width: 120%;
  top:90%;
  left: -20%;
  opacity: 0.1;
}

.woman{
  position:relative;
  display: block;
  margin: 0;
  width: 120%;
  top:150%;
  left: 50%;
  opacity: 0.3;
  height: inherit;
}

.dreams{
  position:relative;
  width: 120%;
  top: 60%;
  right: -110%;
  opacity: 0.6;
  padding: 0px;
}


/* FOOTER */

footer{
  background-color: black;
  /* height: 30vh; */
}

.apeiron-footer{
  font-family:"Montserrat";
  font-weight: 100;
  font-size: 0.8em ;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 0px;
  margin: 5px;
  color: white;
}
.everything-footer{
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 0.5em;
  text-transform: uppercase;
  text-align: left;
  letter-spacing:0.2px;
  padding: 0px;
  margin:5px;
  color: white;

}

.icons{
  size:2px;
  color:#F3F1F1 ;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: flex-start;
}

.footer-one{
  position: relative;
  top: 50px;

}

.footer-bottom{
  font-size: 0.8em;
  width: 100%;
  height: 5vh;
  background-color: white;
  position: absolute;
  color: #4F4D4D ;
  letter-spacing:0.5px;
  text-align: center;
  padding: 10px;

}
.footer-title{
  font-size: 0.8em;
  letter-spacing: 0.7px;
  font-weight: bold;
  text-transform: uppercase;
}
.list{
  text-decoration: none;
  list-style: none;
  font-size: 0.5em;
  color: gray;
  padding: 15px;

}

#up{
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 3;
  size:50px;

}

.up{
    width: 40px;
    height: 40px;
    opacity: 0.4;

}

.sign-menu{
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  border-radius: 0px;
}

.btn-outline-secondary:hover{
  background-color: inherit;
}



/* NAV */

/* PROFILE */
/* Container */

div.container{
  margin-left: 25px;
  margin-right: 25px;
  padding: 0px;
}
.profiles{
  background-color:#EEEEEE ;

}

.profile-pic{
  width: 40%;
  display: block;
  margin: auto;
  padding: 4px;
}

.profile-data{
  background-color: white;
 margin-bottom: 10%;
  width: 100%;
  padding: 8px;
-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.1) inset;
}

.profile-data p {
  text-align: center;
}

.user-name p{
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  margin: 0px;
  padding: 2%;
  font-family: 'Montserrat'
}

.profession{
  display: block;
  text-align: center;
}

.profession a {
  display: inline;
  text-align: center;
  color: inherit;
  font-size: 0.8em;
  letter-spacing: 0em;
  text-decoration: underline;
  text-align: center;

}
.profession p{
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  line-height: 15px;

}

.profile-button{
  text-align: center;
}

.profile-button button{
  border-radius: 0px;
  font-family: 'Montserrat';
  text-transform: uppercase;
}


.follow-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sponsor-button{
  color: white;
  background-color: #ba9765;
	border-color: #ba9765 !important;
  padding: 3%;
  margin: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9em;
}

.sponsor-button:hover {
  border: none;
  color :gray;
  background-color: transparent !important;
}
.sponsor-button:focus {
  color :gray;
  background-color:transparent  !important;
}
.sponsor-button:active {
  color: gray;
  background-color: transparent !important;
}


.follow {
  font-size: 0.8em;
  line-height: 3px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 10px;
}

.follow-contact{
  border: 0.2px solid;
  border-color:  #EEEEEE;
  background-color: white;
  font-size: 0.8em;
  display:inline-block;
  margin: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
}

.follow-b{
  margin: 3%;
}
.follow-contact:hover {
  border: none;
  color :gray;
  background-color: transparent !important;
}
.follow-contact:focus {
  color :gray;
  background-color:transparent  !important;
}
.follow-contact:active {
  color: gray;
  background-color: transparent !important;
}



.nav-link {
  color: inherit;
}
.nav-item{
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 4px;
  text-align:center;
}

#gallery-nav{
  border-bottom: 3px solid #444343 ;
}

/* TABS */

.tab-stl{
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 0.2em;
  color: gray;
}


/* ABOUT */

.about{
  display: none;
}
.about-title{
  display: none;
}
.abilities{
  display: none;
}
.social-contact{
  display: none;
}

/* FORM */

header.header_contact img{
  width: 15%;
  height: 10vh;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 5px;
}
header.header_contact{
  background-color: black;
  width: 100%;
  height: 10vh;

}

.contact_team{
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  padding: 20px;

}

h5.contact_team_h5{
  font-size: 1.1em;
  text-align: justify;
  font-weight: bold;
  padding: 2px;

}

p.contact_team_p{
  text-align: justify;
  font-size: 1em;

}



.btn.btn-primary{

  color: white;
  padding: 3%;
}


.container_md{
  padding-left: 0%;
  padding-right: 0%;



}

/* REGISTER */
.special-card {
            background-color: rgba(245, 245, 245, 0.8) !important;
        }


/* F_A_Q CLASSES */

.container-fluid1{
  background-color: #E4E4E4;
font-family: Montserrat;
}

.row{
  font-family: Montserrat;
}
.bw {
  background-color: white;
}


.beefup__head{
  font-weight: bold;
}

.find_us_also{
  color: #9494b8;
  text-align: left;
  padding: 10px;
  margin: 0px;

}


.footer_background{
  width: 100%;
  height: 50vh;
  background-color:  #f0f5f5;
  padding: 20px;
}

.container-fluid{
  padding-bottom: 30px;
}

.support_links{
  display: block;
  margin: 5%;
  font-weight: bold;
  font-size: 0.9em;

}

.passion{
  color: #1f1f2e;
  font-weight: 200;
  padding: 25px;
  text-align: center;

}

.copyright{
  display: block;
  padding: 20px;
  text-align: center;
  margin: 0 auto;

}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* p.apeiron-p{
    font-family:"Montserrat";
    font-weight: 100;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 13px;
    padding: 20px;
    margin: -30px;
  } */

  p.community-p{
    margin: 0px 0px 0px;
    line-height: 1em;
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 7em;
    text-align: left;
    padding: 4%;
  }

  /* p.everything-p{
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 12px;
    padding: 0px;
    margin:-40px;
    color:#ededed;
    margin:-50px;
  } */

  .sign-in{
    display:inline-block;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: lighter;
    color: inherit;
    padding: 8px;
    border: 0.5px solid white;
    margin:30px;
    letter-spacing: 2px;
    opacity: inherit;
    text-align: center;
  }

  .apeiron-footer{
    font-family:"Montserrat";
    font-weight: 100;
    font-size: 1em ;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
    padding: 0px;
    margin: 5px;
    color: white;
  }


  .sign-menu{
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    border-radius: 0px;
  }

  /* SHOW-UP */

  .show-up{
    background-color: #ededed;
    text-align: center;
    font-size: 2em;
    padding: 3%;


  }

  .get-started{
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.4em;
    text-align: center;
    color: black;

  }

  .gotta-show-up{
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 10px;
    color: #ba9765;
  }

  .lorem{
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 0.5em;
    letter-spacing: 0.2em;
    text-align: justify;
    color:black;
    padding-left: 20%;
    padding-right: 20%;
  }


  /* STAGES */

 .row{
   margin-left: 0px;
   margin-right: 0px;
 }

  .tangled{
    width: 40%;
    display: block;
    margin: 0;
    padding: 10%;
    transform: rotate(45deg);
  }

  /* POPULAR PROJECTS */

  .popular-projects{
    padding: 8%;
    background-color: black;
    width: auto;

  }

 .popular-p{
   text-transform: uppercase;
   font-size: 2em;
   letter-spacing: 0.4em;
   text-align: center;
   padding: 1%;
   color: #ba9765;
 }

 .card-body{
  padding: 8%;
 }

 .card-deck{
   padding: 2%;
 }

/* UP-TO */

.up-to-button{
  font-size: 0.8em;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent;
  padding: 8px 16px;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid gray;

}

.up-to-container{
  padding-left:8%;
  padding-right:8%;
  padding-top: 8%;
  padding-bottom: 4%;

}
.up-to-p{
  letter-spacing: 0.3em;
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  text-transform: uppercase;
  text-align: center;
}

.up-to-select{

  letter-spacing: 0.2em;
  font-weight: 400;
  font-size: 1.1em;
  padding-bottom: 3%;
  text-align: center;
}

.category-img{
  display: block;
  margin: auto;
  padding: 10%;

}

.category-p{
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  color:  #d18d2e;

}

/* FELLINGS */
.feel{
  padding: 7%;
}
.feeling-p{
  padding: -10px;
  text-align: center;
  letter-spacing: 0.4em;
}
.feeling-button{
  font-size: 0.8em;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #ba9765;
  border-color: #ba9765;
  letter-spacing: 3px;
  background: transparent;
  box-shadow: 0px 0px;
  padding: 8px 16px;
  margin-left: 50%;
  transform: translateX(-50%);

}

.feeling-img{
  display: block;
  margin: auto;
  width: 25%;
  height: 60%;
  padding: 20px;
}




  /* GALLERY -All- */
  .gallery-item{
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1);
        -webkit-transition: all .8s ease-in-out;
      }

      .gallery-item:hover {
      filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
      }
  }

  .gallery-home.home-article{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;


  }


  /* NAV */

  #gallery-nav{
    display: none;
  }

/* ABOUT */

.about-p p{
  text-align: justify;
  font-size: 0.9em;
  color: gray
}
.profile-about{
  font-size: 0.8em;
  font-weight: bold;
  padding-top:4%;
  padding-bottom: 2%;
  text-transform: uppercase;
  color: gray;
}

.profile-about p{
  text-align: left;
}

.profile-cont{
  padding: 10%;
}
.about-title{
   font-weight: bold;
   text-align: left;
   text-transform: uppercase;

  }
  .abilities{
  font-weight: bold;
  }
  .social-contact{
    margin: 10px;
    display:

  }

  /* FOOTER */

  .footer-title{
    font-size: 1em;
    letter-spacing: 0.7px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .list{
    text-decoration: none;
    list-style: none;
    font-size: 0.8em;
    color: gray;
    padding: 25px;
    letter-spacing: 1px;

  }

  .apeiron-footer{
    font-family:"Montserrat";
    font-weight: 100;
    font-size: 1.3em ;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    padding: 0px;
    margin: 5px;
    color:#F9F7F7  ;
  }
  .everything-footer{

    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing:0.5px;
    padding: 0px;
    margin:5px;
    color:#F9F7F7  ;
  }


/* FORM */
.contact_team{
    text-align: center;
    padding: 20px;
    line-height: 40px;

  }

.container_md{
  padding-left: 20%;
  padding-right: 20%;



}

.contenedor_padre{
  padding-left: 20%;
  padding-right: 20%;



}


  header.header_contact img{
    width: 4%;
    height: 10vh;
    margin: 0 auto;
  }

  .contact_team{
    text-align: center;
    padding: 20px;
    line-height: 40px;

  }

.container_md{
}
.father{
  overflow: hidden;

}



/* FEED */

.upload_icon{
width: 15%;
padding: 2%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #44495c;
    background-color: #FEFEFE;
    border: #8b91a1 solid 1px;
}
input.posting{
  width: 100%;
  max-width: 500px;
  height: 20vh;
  box-sizing: border-box;
  border: none;
  padding: 4%;
}
.sc{
  color: gray;
  padding: 2%;
  font-size: 20px;

}

.sc-cont{
  padding-top: 1%;
  padding-bottom: 2%;
}

.sc:hover{
  color:#ba9765;
}

.file-input{
font-size: 1.3em;}

i {
  margin-right: 20px;
  opacity: 0.8;
}

.boton-post button{
 padding:0.5em 3em;
 margin:0 0.3em 0.3em 0;
  text-transform: capitalize;
  background-color:#f24534;
  color: white;
  border: none;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 1.2em;
  float: right;

}



label{
  width: auto;
}


.search{
  padding: 0;
  margin: 0;
}
.posting input[type=text], select {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

input:focus {

    background-color: white;
        outline: none !important;
        box-shadow: 0 0 1px #719ECE;

}
.upload_cont{
  border-top: 1px solid #f0f4f4;
  padding: 3%;
}
.image-upload{
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  color: gray;
  letter-spacing: 0.3em;
}
.image-upload>input {
  display: none;
}


.feed-back{
 z-index: -1;
 background-color:#ecf4f4;

}
.feed-name{
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  padding: 2%;
}

.feed-pic{
  padding: 4%;
  display: block;
  margin: auto;

}
.feed-media{
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 0%;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;

}

.feed-media-pic{
  width: 20%;
  padding: 1%;

}

.feed-media-p{
  display: inline;
  font-weight:lighter;
}

.media-div{
  display: block;
  padding-right: 2%;
  padding-top: 0;
  padding-bottom:2%;
}

.feed-cont{
  padding: 3%;

}

.sticky-top{
  background-color:#FEFEFE!important ;
  color: black ;
  z-index: 1;
  padding: 3%;
  border:1px ;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.1) inset;
  margin: 3%;
}
.feed{
  background-color:#FEFEFE!important ;
  color: #e9322e ;
  z-index: 1;
  padding: 4%;
  border:1px ;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.1) inset;
  margin: 3%;

}

.feed-2{
padding-left: 4%;
padding-right: 4%;
margin-left: 3%;
margin-right: 3%;

}



.feed-cont p{

}

.follow-name p{
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* FEED -POSTS */
.post-media-pic{
  width: 15%;
  padding: 2%;
}

.media-content{
  width: 100%;
  height: 50%;
}

.post-name{
  padding-top: 4%;
  font-weight: 550;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

.post-description{
  text-align: justify;
  font-size: 0.9em;
}

.reaction-container{
  z-index: 1;
  background-color:white;
  padding: 2%;
  border: 0.6px solid #edf0f5;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.favourite-count{
  margin: 0px;
  display: inline-block;
  padding: 1%;
  text-align: left;
  font-size: 0.8em;
}
.love-icon{
  padding: 1%;
  float: right;
  display: inline;
  width: 5%;
}

.love-icon :focus {

}

.comments-div{
  display: inline;
}

textarea{
  padding-left: 4%;
  padding-right: 4%;
  display: inline;
  width: 100;
  border: 0.6px solid #E3E3E3 ;
}

.comment-media-pic{
  padding:0.5%;
  position: relative;
  bottom: -50px;
  width: 10%;
}

.launch{
  margin-bottom: 5%;
  display: block;
  border: none;
  background-color:#F0DCC9 ;
  width: 100%;
  text-align: center;
  padding: 3%;
  letter-spacing: 0.2em;
  font-size: 0.9em;

}
 button.launch{
   color:gray;
 }

.launch:focus{

  background-color:black;

}

.tag{
  letter-spacing: 0.1em;
  color: gray;
  font-size: 0.8em;
  padding: 2%;
}
.tag-cont{
  margin: 5%;
  padding: 2%;
}




/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
